<div class="container p-2">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <ng-template let-openFileSelector="openFileSelector">
        Optional custom content that replaces the the entire default content.
        <button type="button" (click)="openFileSelector()">Browse Files</button>
      </ng-template>
  </ngx-file-drop>
</div>

  <!-- <div class="upload-table">
      <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
              </tr>
          </thead>
          <tbody class="upload-name-style">
              <tr *ngFor="let item of files; let i=index">
                  <td><strong>{{ item.relativePath }}</strong></td>
              </tr>
          </tbody>
      </table>
  </div> -->
<div class="container p-2">
  <table class="table table-sm" *ngIf="dataFromServer.values">
    <thead>
      <tr>        
        <!-- <th scope="col">#</th> -->
        <th scope="col">ACCOUNT</th>
        <th scope="col">auth|securityinfo</th>
        <th scope="col">auth|securitynotice</th>
        <th scope="col">crond</th>
        <th scope="col">sshd</th>
        <th scope="col">su</th>
        <th scope="col">PREDICTION</th>
        <th scope="col">PROBABILITY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of dataFromServer.values">
        <!-- <th scope="row">1</th> -->
        <td>{{test[0]}}</td>
        <td>{{test[2]}}</td>
        <td>{{test[3]}}</td>
        <td>{{test[4]}}</td>
        <td>{{test[5]}}</td>
        <td>{{test[6]}}</td>
        <td>{{test[11]}}</td>
        <td>{{test[9][test[10]] | percent }}</td>
      </tr>
    </tbody>
  </table>
</div>